/* 头部开始 */
.head{
	width: 100%;
	height: 40px;
	background: #333333;
}
.head-con{
	width: 1226px;
	height: 100%;
	margin: 0px auto;
}
.head-left{
	float: left;
	height: 100%;
}
.head-left .text{
	float: left;
	height: 100%;
	line-height: 40px;
	color: #b0b0b0;
	font-size: 12px;
}
.head-left .line{
	float: left;
	height: 100%;
	line-height: 40px;
	margin: 0px 7px;
	color: #3b3b3b;
	font-size: 14px;
}	
.head-right{
	float: right;
	height: 100%;
}
.head-right .box2{
	float: right;
	width: 122px;
	height: 100%;
	background: #424242;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	color: #a2a2a2;
}
.head-right .box1{
	height: 100%;
	float: left;
	margin-right: 25px;
}
.head-right .text{
	float: left;
	height: 100%;
	line-height: 40px;
	color: #b0b0b0;
	font-size: 14px;
}
.head-right .line{
	float: left;
	height: 100%;
	line-height: 40px;
	margin: 0px 7px;
	color: #3b3b3b;
	font-size: 14px;
}
	/* 头部结束 */
	/* 导航开始 */
.head1{
	width: 100%;
	height: 100px;
	background: #fff;
}
.head1-con1{
	width: 1226px;
	height: 100%;
	margin: 0px auto;
}
.head1-left1 img{
	margin-top: 22px;
	float: left;
	margin-right: 170px;
}
.head1-left1{
	float: left;
	height: 100%;
}
.head1-left1 .text1{
	float: left;
	height: 100%;
	line-height: 100px;
	color: #333;
	font-size: 16px;
	margin: 0px 10px;
}
.head1-right1{
	float: right;
	height: 100%;
	width: 300px;
}
.search-box{
	width: 296px;
	height: 50px;
	margin-top: 25px;
	border: 1px solid #e0e0e0;
	box-sizing:border-box;
}
.search{
	width: 244px;
	height: 48px;
	background: #333333;
	float: left;
	border-right: 1px solid #e0e0e0;
	box-sizing: border-box;
}
.search input{
	width: 243px;
	height: 100%;
	border: none;
	outline: none;
	padding-left: 20px;
	box-sizing: border-box;
}
.search-icons{
	width: 50px;
	height: 48px;
	float: left;
	text-align: center;
	line-height: 48px;
	font-size: 20px;
}
/* 导航结束 */
/* 闪购开始 */
.shan-gou{
	width: 1226px;
	height: 438px;
	margin: 0 auto;
}
.shan-gou .top{
	width: 100%;
	height: 58px;
	background: #FFFFFF;
}
.shan-gou-text{
	font-size: 24px;
	line-height: 58px;
	color: #333;
	float: left;
	font-weight: 300;
}
.shan-gou-jian{
	width: 71px;
	height: 24px;
	float: right;
	margin-top: 17px;
	box-sizing: border-box;
	border: 1px solid #e0e0e0;
	color: #333333;
}
.shan-gou-jian .jian-left{
	width: 35px;
	height: 24px;
	line-height: 22px;
	text-align: center;
	float: left;
	box-sizing: border-box;
	border-right: 1px solid #e0e0e0;
}
.shan-gou-jian .jian-right{
	width: 34px;
	height: 24px;
	line-height: 22px;
	text-align: center;
	float: left;
}
.shan-gou .bottom{
	width: 100%;
	height: calc(100% - 58px);
	padding-bottom: 40px;
}
.bottom-left{
	width: 234px;
	height: 100%;
	background: #f1eded;
	margin-right: 14px;
	float: left;
}
.bottom-left .time{
	font-size: 22px;
	color: red;
	margin-top: 60px;
	margin-left: 78px;
}
.bottom-left img{
	margin-left: 100px;
	margin-top: 30px;
}
.bottom-left .jieshu{
	font-size: 14px;
	color: #6f6d6d;
	margin-top: 35px;
	margin-left: 74px;
}
.bottom-left .djs{
	margin-top: 30px;
	margin-left: 32px;
}
.bottom-left .kuai{
	width: 48px;
    height: 48px;
    background: #605751;
    color: #fff;
    font-size: 24px;
    line-height: 48px;
    float: left;
	text-align: center;
}
.bottom-left .maohao{
	width: 15px;
    height: 48px;
    line-height: 48px;
    color: #605751;
    font-size: 28px;
	float: left;
	text-align: center;
}
.bottom-right{
	width: calc(234px * 4 + 14px * 3);
	height: 100%;
	float: left;
}
.bottom-right div{
	width: 234px;
	background: #fafafa;
	height: 380px;
	float: left;
	margin-left: 14px;
}
.bottom-right .item1,.item2,.item3,.item4{
	position: relative;
}
.bottom-right .jiang200{
	width: 64px;
	height: 20px;
	background: red;
	margin-left: 85px;
	color: #fff;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
}
.bottom-right img{
	width: 160px;
	height: 160px;
	margin-top: 30px;
	margin-left: 37px;
}
.bottom-right .item1{
	margin-left: 0px;
}
.bottom-right p{
	text-align: center;
	font-size: 14px;
	margin-top: 20px;
}
.bottom-right .text3{
	font-size: 12px;
	color: #c9c9c9;
	margin-top: 30px;
}
.bottom-right .jia{
	font-size: 14px;
	color: #fa6509;
	margin-top: 40px;
}
/* 闪购结束 */
.beijin{
	width: 100%;
	height: 100%;
	background: #f5f5f5;
	margin: 0;
	padding: 0;
}
/* 手机开始 */
.shouji{
	width: 1226px;
	height: 672px;
	margin: 0 auto;
}
.shouji-top{
	width: 100%;
	height: 58px;
}
.shouji-top-left{
	line-height: 58px;
	font-size: 24px;
	float: left;
	color: #333333;
	font-weight: 300;
}
.shouji-top-right{
	height: 58px;
}
.shouji-top-right .right-wenzi{
	width: 100px;
	height: 58px;
	float: right;
	font-size: 16px;
	color: #424242;
	line-height: 58px;
}
.shouji-bottom{
	width: 1226px;
	height: 614px;
}
.shouji-bottom .bottom-left img{
	width: 234px;
	height: 100%;
	float: left;
	margin: 0;
	padding: 0;
}
.shouji-bottom>ul>li{
	width: 234px;
	height: 300px;
	float: left;
	margin-left: 14px;
	text-align: center;
	background: #fff;
	position: relative;
	margin-bottom: 14px;
	box-sizing: border-box;
}
.shouji-bottom>ul .xia{
	margin-bottom: 0;
}
.shouji-bottom>ul .zuo{
	margin-left: 0;
}
.shouji-bottom>ul>li img{
	width: 160px;
	height: 160px;
	margin-top: 20px;
}
.shouji-bottom-wenzi{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	font-size: 14px;
	color: #333;
	text-align: center;
	margin-top: 20px;
}
.shouji-bottom-jieshao{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	text-align: center;
	color: #c9c9c9;
	font-size: 12px;
	margin: 10px 25px ;
}
.shouji-bottom-jiage{
	text-align: center;
	color: #fa6509;
	font-size: 14px;
	margin-top: 15px;
}
/* 手机结束 */
/* 家电开始 */
.jiadian{
	width: 1226px;
	height: 672px;
	margin: 0 auto;
}
.jiadian-top{
	width: 100%;
	height: 58px;
}
.jiadian-top-left{
	line-height: 58px;
	font-size: 24px;
	float: left;
	color: #333333;
	font-weight: 300;
}
.jiadian-top-right{
	height: 58px;
	float: right;
}
.jiadian-top-right .right-wenzi1{
	height: 58px;
	float: left;
	font-size: 16px;
	color: #424242;
	line-height: 58px;
	margin-left: 25px;
}
.jiadian-top-right .right-wenzi{
	height: 58px;
	float: left;
	font-size: 16px;
	color: #ff6700;
	line-height: 58px;
}
.jiadian-bottom{
	width: 1226px;
	height: 614px;
}
.jiadian-bottom .bottom-left img{
	width: 234px;
	height: 300px;
	float: left;
	margin: 0;
	padding: 0;
	margin-bottom: 14px;
}
.jiadian-bottom>ul>li{
	width: 234px;
	height: 300px;
	float: left;
	margin-left: 14px;
	text-align: center;
	background: #fff;
	position: relative;
	margin-bottom: 14px;
	box-sizing: border-box;
}
.jiadian-bottom>ul .xia{
	margin-bottom: 0;
}
.jiadian-bottom>ul .zuo{
	margin-left: 0;
}
.jiadian-bottom>ul .box1{
	width: 234px;
	height: 143px;
}
.jiadian-bottom>ul .box1 img{
	width: 80px;
	height: 80px;
	float: right;
	margin-right: 15px;
}
.jiadian-bottom-wenzi1{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	font-size: 14px;
	color: #333;
	text-align: center;
	margin-top: 30px;
	margin-left: 30px;
}
.jiadian-bottom-jiage1{
	color: #fa6509;
	font-size: 14px;
	margin-top: 15px;
	margin-left: 0px;
}
.jiadian-bottom>ul .box2{
	width: 234px;
	height: 143px;
}
.jiadian-bottom>ul .box2 .text-1{
	font-size: 20px;
	margin-top: 50px;
}
.jiadian-bottom>ul .box2 .text-2{
	color: #c9c9c9;
	font-size: 12px;
}
.jiadian-bottom>ul .box2 i{
	width: 48px;
	height: 48px;
	color: #ff6700;
	float: right;
}
.jiadian-bottom>ul>li img{
	width: 160px;
	height: 160px;
	margin-top: 20px;
}
.jiadian-bottom-wenzi{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	font-size: 14px;
	color: #333;
	text-align: center;
	margin-top: 10px;
}
.jiadian-bottom-jieshao{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	text-align: center;
	color: #c9c9c9;
	font-size: 12px;
	margin: 10px 25px ;
}
.jiadian-bottom-jiage{
	text-align: center;
	color: #fa6509;
	font-size: 14px;
	margin-top: 15px;
}
/* 家电结束 */
/* 推荐开始 */
.tuijian{
	width: 1226px;
	height: 378px;
	margin: 0 auto;
}
.tuijian-top{
	width: 100%;
	height: 58px;
}
.tuijian-top-left{
	line-height: 58px;
	font-size: 24px;
	float: left;
	color: #333333;
	font-weight: 300;
}
.tuijian-top-right{
	width: 100px;
	height: 58px;
	float: right;
}
.tuijian-top-right .box-one{
	width: 71px;
	height: 24px;
	float: right;
	margin-top: 17px;
	border: 1px solid #e0e0e0;
	box-sizing: border-box;
	line-height: 58px;
}
.box-one-left{
	width: 35px;
	height: 24px;
	border-right: 1px solid #e0e0e0;
	float: left;
	box-sizing: border-box;
	line-height: 22px;
	text-align: center;
}
.box-one-right{
	width: 34px;
	height: 24px;
	float: left;
	line-height: 22px;
	text-align: center;
}
.tuijian-bottom{
	width: 100%;
	height: 320px;
	overflow: hidden;
}
.tuijian-bottom>ul{
	width: calc(1226px * 3);
	height: 320px;
	float: left;
	/* background: #f5f5f5; */
}
.tuijian-bottom>ul>li{
	width: 234px;
	height: 320px;
	float: left;
	margin-left: 14px;
	text-align: center;
	background: #fff;
}
.tuijian-bottom li img{
	width: 140px;
	height: 140px;
	margin-top: 30px;
}
.tuijian-bottom .tuijian-te{
	margin-left: 0;
}
.tuijian-bottom-wenzi{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	font-size: 16px;
	color: #333;
	text-align: center;
	margin: 20px 20px;
}
.tuijian-bottom-biaojia{
	text-align: center;
	color: #ff8a3b;
	font-size: 14px;
	margin-top: 20px;
}
.tuijian-bottom-haoping{
	text-align: center;
	color: #757575;
	font-size: 14px;
	margin-top: 20px;
}
/* 推荐结束 */